/*.nav {*/
/*    grid-area: n;*/
/*    background-color: rgb(130, 207, 130);*/
/*    padding: 20px;*/
/*}*/

/*.item a {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*}*/

/*.item a.activeLink {*/
/*    color: gold;*/
/*}*/

.friendsBlock {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}