@font-face {
  font-family: "Houschka Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/HouschkaPro-Light.woff2") format("woff2"),
    url("../fonts/HouschkaPro-Light.woff") format("woff"),
    url("../fonts/HouschkaPro-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Houschka Pro";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/HouschkaPro-ExtraBold.woff2") format("woff2"),
    url("../fonts/HouschkaPro-ExtraBold.woff") format("woff"),
    url("../fonts/HouschkaPro-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
