@import "tailwindcss";

@import "../fonts/fonts.css";

/* Настройки темы */
@theme {
  --font-sans: "GopherMono", sans-serif;
  --font-serif: "GopherMono", sans-serif;

  --text-lg--line-height: 1.75rem;

  --text-sm--line-height: 1.25rem;

  --text-xs--line-height: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Фиксируем высоту */
  overflow: hidden; /* Убираем скролл */
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
    "h h"
    "n c";

  /* grid-template-rows: 60px 1fr; */
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: #e1ec92;
}
