@import "tailwindcss";

@import "../fonts/fonts.css";

@import "./theme.css";

/* Настройки темы */
@theme {
  --font-sans: "GopherMono", sans-serif;
  --font-serif: "GopherMono", sans-serif;

  --text-lg--line-height: 1.75rem;

  --text-sm--line-height: 1.25rem;

  --text-xs--line-height: 1rem;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  position: relative;
}

#root {
  @apply h-full pt-6;
}

#backdrop {
  @apply fixed top-0 left-0 object-cover w-full h-[70%] -z-1 bg-cover;
}

.app-wrapper {
  @apply max-w-289.75 mx-auto;
}
